<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhsc.mobile" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" />
        <activity android:name=".WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".news.newsdetail.DetailActivity" />
        <activity android:name=".news.SearchActivity" />
        <activity android:name=".disclose.DiscloseActivity" />
        <activity android:name=".disclose.UserDiscloseActivity"/>
        <activity android:name=".userpages.LoginAndRegisterActivity" />
        <activity android:name=".userpages.LoginActivity" />
        <activity android:name=".userpages.RegisterActivity" />
        <activity android:name=".userpages.UserInfoActivity" />
        <activity android:name=".userpages.ResetPasswordActivity"/>
        <activity android:name=".userpages.FindPasswordActivity"/>
        <activity android:name=".comment.CommentActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name=".settings.FeedbackActivity"/>
        <activity
            android:name="vn.tungdx.mediapicker.activities.MediaPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPickerTheme" />

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 需要改写此处的appId，将tencent后面xxx的改为自己申请的appId，如tencent129068312-->
                <data android:scheme="tencent1104901688" />
            </intent-filter>
        </activity>

        <!-- Weixin-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay"/>

        <meta-data
            android:name="DATABASE"
            android:value="bhsc.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.bhsc" />

        <activity android:name=".news.newsdetail.NewsActivity" >
        </activity>
    </application>

</manifest>
