<manifest
    package="com.bhsc.mobile"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>

    <application
        android:name="com.bhsc.mobile.main.BHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ApplicationTheme">
        <activity
            android:name="com.bhsc.mobile.main.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.bhsc.mobile.main.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".disclose.DiscloseActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />

        <activity android:name=".userpages.UserInfoActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".homepage.SearchActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".homepage.newsdetail.DetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".discuss.detail.DiscussDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".accessory.FeedbackActivity"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".ThirdParty.ShareActivity"
            android:launchMode="singleInstance"
            android:theme="@style/ShareTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"/>
        <activity android:name=".userpages.LoginAndRegisterActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".userpages.LoginActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".userpages.RegisterActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".userpages.AgreementActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".userpages.ResetPasswordActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".common.ImageBrowserActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".disclose.DiscloseListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".settings.SettingsActivity"
                  android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1104901688"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
    </application>

</manifest>
